useDynLib(spBayes)
export(prior)
export(spGGT)
export(spPredict)
export(spDiag)
#export(mk.mv.Y)
export(mkMvX)
#export(mk.mv.formula.YX)
export(spLM)
export(bayesLMRef)
export(bayesLMConjugate)
#export(bayes.geostat.exp.unmarg)
export(bayesGeostatExact)
export(covGivens)
export(pointsInPoly)
export(hexGrid)
export(adaptMetropGibbs)
export(covInvLogDet)
export(mvCovInvLogDet)
export(iDist)
export(spMvLM)
export(spGLM)
export(spMvGLM)
export(mvLM)
