useDynLib(spBayes)
export(prior)
export(ggt.sp)
export(sp.predict)
export(sp.DIC)
#export(mk.mv.Y)
export(mk.mv.X)
#export(mk.mv.formula.YX)
export(sp.lm)
export(bayes.lm.ref)
export(bayes.lm.conjugate)
#export(bayes.geostat.exp.unmarg)
export(bayes.geostat.exact)

